{% load movie_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>Movies Listing</title>
</head>
<body>
<h2>Movies Listing with artists</h2>
{% for movie in movies %}
<table>
    <tbody>
        <tr>
            <td>Title</td>
            <td>{{movie.title}}</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>{{movie.description}}</td>
        </tr>
        <tr>
            <td>Director</td>
            <td>{{movie.director}}</td>
        </tr>
        <tr>
            <td>People</td>
            <td>
                <ul>
                    {% for artist_url in movie.people %}
                        <li> Name - {% get_artist_data artists artist_url "name" %} </li>
                        <ul>
                            <li> Age - {% get_artist_data artists artist_url "age" %} </li>
                            <li> Gender - {% get_artist_data artists artist_url "gender" %} </li>
                        </ul>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    </tbody>
</table>
<hr>
{% endfor %}
</body>
</html>